/*
	hello svg animation

	background: linear-gradient(340deg, #00C9FF 0%, #92FE9D 100%);

	background-image: linear-gradient(-45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
	
	animation: AnimateBG 20s ease infinite;
*/

html {
	scroll-behavior: smooth;
}

body, html {
	/* width: 100%;
	height: 100%; */
	margin: 0;
	padding: 0;
	background: #d7d7d7;
	font-size: 20px;
	line-height: calc(1.1em + 0.5vw);
	display: flex;
	justify-content: center;
}

/*
	/ / / / / CONTENT 
*/

#container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	/* align-items: flex-start; */
	flex-direction: column;
	/* outline: 1px solid green; */
}

svg {
	width: 100vw;
	height: 300px;
	margin: 10px 0 0;
	/* outline: 1px solid red; */
}

.line {
	stroke-dasharray: 2000;
	animation: dash 2s linear forwards;
}

.content {
	animation: fadein 5s;
	margin-top: 1em;
	width: 100%;
	/* display: none; */
	/* outline: 1px solid #777; */
}

.content p {
	font-family: 'Merriweather', serif;
	color: #777;
	margin: 0;
	padding: 1em;
	text-align: justify;
}

/*

	/ / / / / KEY FRAMES 

*/

@-webkit-keyframes AnimateBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes AnimateBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes dash {
	from {
		stroke-dashoffset: 2000;
	}
	to {
		stroke-dashoffset: 4000;
	}
}

/*

	/ / / / / MEDIA QUERIES 

*/

@media only screen and (min-width: 768px) {
	#container, svg {
		max-width: 768px;
	}
	svg {
		max-height: 300px;
	}
}

@media only screen and (max-width: 767px) {
	#container {
		width: 100%;
		height: 90%;
	}
	svg {
		/* display: flex;
		justify-content: center; */
		width: 100%;
		/* outline: 1px solid black; */
	}
	path {
		/* height: 900px; */
		padding: 0 0 0 1em;
		/* outline: 1px solid blue; */
	}
}