/*
	hello svg animation

*/

html {
	scroll-behavior: smooth;
}
body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #d7d7d7;
	font-size: calc(16px + 0.5vw);
	line-height: calc(1.1em + 0.5vw);
	/* background: linear-gradient(340deg, #00C9FF 0%, #92FE9D 100%); */

	/* background-image: linear-gradient(-45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
	animation: AnimateBG 20s ease infinite; */
}

/*
	/ / / / / CONTENT 
*/
.title {
	margin-top: 1em;
	flex-direction: column;
	/* transform: rotate(-10deg); */
}

#container {
	max-width: 100vw;
}
.content {
	animation: fadein 5s;
	margin-top: 1em;

	align-items: flex-start;
	justify-content: center;
}

.content p {
	font-family:'Merriweather', serif;
	color: #777; 
	margin: 0;
	padding: 1em;
	text-align: justify;
	display: flex;

	
}

/*
	/ / / / / SVG 
*/
svg {
	max-width: 100%;
	margin: auto;
	padding: 0;
}

.line {
	stroke-dasharray: 2000;
	/* stroke-dashoffset: 4000; */
	animation: dash 2s linear forwards;
	/* previous line color #777777 */
}

/*

	/ / / / / KEY FRAMES 

*/
@-webkit-keyframes AnimateBG {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }
  
  @keyframes AnimateBG {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


@keyframes dash {
	from {
		stroke-dashoffset: 2000;
	}

	to {
		stroke-dashoffset: 4000;
	}
}